.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #26a2a8;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 2px #869398;
  z-index: 1;
}

html {
  height: 100%;
  width: 100%;
}
.content {
  flex: 1;
}

.menu,
.logo,
.addarticle,
.profileicon {
  height: 1.5rem;
  padding: 0.6rem;
}

.menu {
  padding-left: 1rem;
  align-items: flex-start;
}

.profileicon {
  padding-right: 1rem;
  align-items: flex-end;
}

.footer {
  font-size: small;
  width: 100%;
  text-align: center;
  background-color: #515151;
  color: white;
  padding-top: 1.5em;
  padding-bottom: 2.5em;
  flex-shrink: 0;
}

.pagefooter {
  background-color: #515151;
  color: black;
  font-size: small;
  padding: 1rem;
  margin-top: 2rem;
}

.githublogo {
  height: 1.3rem;
  background-color: #515151;
  padding: 0.5rem;
}

.coding-card,
.football-card,
.cooking-card {
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
  padding: 1.5rem;
  width: 500px;
  height: 200px;
  box-shadow: 0 0 25px 5px var(--box-shadow-color);
  transition: transform 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.football-card:hover {
  transform: scale(1.1);
  --box-shadow-color: #e1bfae;
}

.cooking-card:hover {
  transform: scale(1.1);
  --box-shadow-color: #bed3d4;
}
.coding-card:hover {
  transform: scale(1.1);
  --box-shadow-color: #e2d1d4;
}
.card_title {
  font-weight: 800;
  font-size: large;
  margin-left: 1rem;
  margin-right: 1rem;
}

.card_author {
  font-weight: 700;
  color: #515151;
}

.card_topic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bylikecomment {
  font-size: small;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 3rem;
  padding-right: 3rem;
}

/* author and votes inside their own element look into making the card a flex column*/

.cardcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.newnews {
  display: flex;
}

.article-football {
  background-color: #fe673a;
  padding: 0.3rem;
  width: 12rem;
}

.article-cooking {
  background-color: #3e91c1;
  padding: 0.3rem;
  width: 12rem;
}

.article-coding {
  background-color: #f7b0be;
  padding: 0.3rem;
  width: 12rem;
}

.individual-comment-box {
  margin: 1rem 1rem 1rem 1rem;
  padding: 1.5rem;
  box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
}

.article-box {
  margin: 0.5rem 0.5rem 2.5rem 0.5rem;
  padding: 2rem;
  box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
}

.voting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.create_votes span {
  align-self: flex-end;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #301934;
  text-decoration: none;
}

@font-face {
  font-family: "Fredbones";
  src: url("../src/utils/Fredbones.ttf");
}
@font-face {
  font-family: "BlackBones";
  src: url("../src/utils/BlackBones.ttf");
}
h1 {
  font-family: "Fredbones";
  font-size: 60px;
  color: #301934;
}
.voting {
  font-size: small;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 1rem;
  padding-right: 1rem;
}

.articlebylikecomment {
  font-size: small;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: flex-end;
}

.timeandby {
  font-size: small;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: rem;
}
.article_time {
  margin-left: 1.5rem;
}
.article-body {
  margin-bottom: 2.5em;
}
