.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #26a2a8;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 2px #869398;
  z-index: 1;
}

html {
  height: 100%;
  width: 100%;
}
.content {
  flex: 1;
}

.menu,
.logo,
.addarticle,
.profileicon {
  height: 1.5rem;
  padding: 0.6rem;
}

.menu {
  padding-left: 1rem;
  align-items: flex-start;
}

.profileicon {
  padding-right: 1rem;
  align-items: flex-end;
}

.footer {
  font-size: small;
  width: 100%;
  text-align: center;
  background-color: #515151;
  color: white;
  padding-top: 1.5em;
  padding-bottom: 2.5em;
  flex-shrink: 0;
}

.pagefooter {
  background-color: #515151;
  color: black;
  font-size: small;
  padding: 1rem;
  margin-top: 2rem;
}

.githublogo {
  height: 1.3rem;
  background-color: #515151;
  padding: 0.5rem;
}

.coding-card,
.football-card,
.cooking-card {
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
  padding: 1.5rem;
  /* width: 500px; */
  height: 200px;
  box-shadow: 0 0 25px 5px var(--box-shadow-color);
  transition: transform 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.football-card:hover {
  transform: scale(1.1);
  --box-shadow-color: #e1bfae;
}

.cooking-card:hover {
  transform: scale(1.1);
  --box-shadow-color: #bed3d4;
}
.coding-card:hover {
  transform: scale(1.1);
  --box-shadow-color: #e2d1d4;
}
.card_title {
  font-weight: 800;
  font-size: large;
  margin-left: 1rem;
  margin-right: 1rem;
}

.card_author {
  font-weight: 700;
  color: #515151;
}

.card_topic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bylikecomment {
  font-size: small;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.card_votes {
  margin-right: 0.2rem;
}

.card_comments {
  margin-right: 0.2rem;
}
/* author and votes inside their own element look into making the card a flex column*/

.cardcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.newnews {
  display: flex;
}

.article-football {
  background-color: #fe673a;
  padding: 0.3rem;
  width: 12rem;
  font-weight: 500;
}

.article-cooking {
  background-color: #3e91c1;
  padding: 0.3rem;
  width: 12rem;
  font-weight: 500;
}

.article-coding {
  background-color: #f7b0be;
  padding: 0.3rem;
  width: 12rem;
  font-weight: 500;
}

.individual-comment-box {
  margin: 1rem 1rem 1rem 1rem;
  padding: 1.5rem;
  box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
}

.article-box {
  margin: 0.5rem 0.5rem 2.5rem 0.5rem;
  padding: 2rem;
  box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
}

.create_votes span {
  align-self: flex-end;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #301934;
  text-decoration: none;
}

@font-face {
  font-family: "Fredbones";
  src: url("../src/utils/Fredbones.ttf");
}
@font-face {
  font-family: "BlackBones";
  src: url("../src/utils/BlackBones.ttf");
}
h1 {
  font-family: "Fredbones";
  font-size: 60px;
  color: #301934;
}
.voting {
  font-size: small;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 1rem;
  padding-right: 1rem;
}

.articlebylikecomment {
  font-size: small;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: flex-end;
  align-items: center;
}

.timeandby {
  font-size: small;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
}
.article_time {
  margin-left: 1.5rem;
}
.article-body {
  margin-bottom: 3em;
  text-align: left;
}
.form {
  width: max-content;
}
.form-box {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-box textarea {
  margin: 1rem;
  border: 2;
  border-radius: 5px;
  font-size: 16px;
  align-items: center;
  background-color: whitesmoke;
  text-align: center;
  padding: 0.2rem;
  width: 80%;
  height: 5rem;
}

.submit {
  box-shadow: 0px 0px 5px 0px #1d7c81;
  background-color: #26a2a8;
  border: 1px solid #26a5b9;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: Arial;
  font-size: 17px;
  padding: 5px 25px;
  text-decoration: none;
  font-weight: 700;
}
.submit:hover {
  background-color: #1d7c81;
}
.submit:active {
  position: relative;
  top: 1px;
}

.postlabel {
  font-size: large;
  font-weight: 700;
}
.individual-comment-box {
  padding: 3rem;
  padding-left: 3.5rem;
  text-align: left;
  margin-left: 3rem;
}
.comment_body {
  padding-bottom: 1rem;
}

.article {
  margin-bottom: 1.5rem;
}

.likeanddelete {
  flex-direction: column;
  text-align: right;
  padding-top: 0.5rem;
}

.timeandby2 {
  font-size: small;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.bin {
  height: 1.5rem;
  margin: 0.2rem;
  fill: #869398;
}

.bin:hover {
  fill: #26a2a8;
  transform: scale(1.1);
}

button {
  background-color: transparent;
  border-color: transparent;
}

.up:hover {
  transform: scale(1.3);
  fill: #1d7c81;
}
.down:hover {
  transform: scale(1.3);
  fill: #fe673a;
}

.p-likes {
  margin-block-start: -0.4em;
  margin-block-end: 0.1em;
  font-size: small;
  color: #515151;
}

.articlCcommentCount {
  font-size: small;
  color: #515151;
  margin-block-start: 0.8em;
}
