.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #d12424;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 2px #869398;
  z-index: 1;
}

html {
  height: 100%;
  width: 100%;
}
.content {
  flex: 1;
  padding: 1rem;
}

.menu,
.logo,
.addarticle,
.profileicon {
  height: 1.5rem;
  padding: 0.6rem;
}

.menu {
  padding-left: 1rem;
  align-items: flex-start;
}

.profileicon {
  padding-right: 1rem;
  align-items: flex-end;
}

.footer {
  font-size: small;
  width: 100%;
  text-align: center;
  background-color: #515151;
  color: white;
  padding-top: 1.5em;
  padding-bottom: 2.5em;
  flex-shrink: 0;
}

.pagefooter {
  background-color: #515151;
  color: black;
  font-size: small;
  padding: 1rem;
}

.githublogo {
  height: 1rem;
  background-color: #515151;
  padding: 0.5rem;
}

.card {
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  margin: 1.5rem 1.5rem 1.5rem 0;
  padding: 1.5rem;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 28px 4px var(--box-shadow-color);
  transition: transform 0.3s ease color;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
  --box-shadow-color: #f7b0be;
}

.card_title {
  font-weight: 800;
  font-size: 1rem;
}

.card_topic {
  background-color: #869398;
  padding: 0.3rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.card_author,
.card_votes {
  font-size: x-small;
  display: inline-block;
}

.card_author {
  padding-right: 2.2rem;
  position: relative;
}

/* author and votes inside their own element look into making the card a flex column*/

.cardcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.newnews {
  display: flex;
}

.card_topic,
.article-football {
  background-color: #fac92c;
  padding: 0.3rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.card_topic,
.article-cooking {
  background-color: #2178ae;
  padding: 0.3rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.card_topic,
.article-coding {
  background-color: #f7b0be;
  padding: 0.3rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.individual-comment-box {
  margin: 1rem 1rem 1rem 1rem;
  padding: 1.5rem;
  box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
}

/* .article-box {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 1.5rem;
  box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
} */
.voting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
